*{
	margin: 0;padding: 0;
}
/* Telefones em paisagem e abaixo */
@media (max-width: 480px) { 
	
}

/* Telefones em paisagem a tablet em retrato */
@media (max-width: 767px) {
	/* estilos aqui */
}

/* Tablet em retrato a paisagem e desktop */
@media (min-width: 768px) and (max-width: 979px) {
	/* estilos aqui */
}

/* Desktop grande */
@media (min-width: 1200px) {
   /* estilos aqui */
}

/*configuracoes gerais*/

.paralax i{
font-size: 39px;
}

img{
	width: 120px;
	border-radius: 50%;	
}

.paralax p{
	padding-top: 100px;
	font-size: 25px;
	color:#FFFFE0;
}
.paralax h3{
	font-size: 25px;
}
.paralax a{
	color: inherit;
}
.paralax a:hover{
	color: initial;
}

.conteudo{
	padding-top: 100px;
	padding-bottom: 100px;
}

.conteudo p{
	padding-bottom: 200px;
	font-style: italic;
	font-family: "Lucida Console", Courier, monospace;
}
.rodape{
	background-color: black;
}
.rodape p{
	font-size: 12px;
	text-shadow: #FFFAFA 1px 1px;
}
