.header-site{
	background-image: url("_media/image1.jpg");
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: black;
	padding-top: 250px;
	padding-bottom: 250px;

}

.conteudo{
	padding-top: 200px;
	padding-bottom: 200px;
}

.img-site{
	background-image: url(../_media/image1.jpg);
	background-position: center top;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: #ffffff;
	padding-top: 100px;
	padding-bottom: 100px;

}

.icones{


}
img{
	width: 120px;
	border-radius: 50%;
	
}
